:root {
  --black: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.fontMontserrat {
  font-family: "Montserrat", sans-serif;
}

.fontInter {
  font-family: "Inter", sans-serif;
}
